<footer>
  <div class="footer-wrap">
    <div class="footer-link">
      <%= link_to '掲示板', '#'%>
      <%= link_to 'スケジュール', schedules_path%>
      <%= link_to 'コラム', columns_path%>
    </div>
    <p class="copyright">© 八風中学校サッカー部</div>
  </div>
</footer>