<header class="header">
  <div class="header-wrapper">
    <h1 class="logo"><%= link_to 'Happu FC', root_path %></h1>
    <div class="top-menu">
      <ul class="menu-lists">
        <li class="menu-list">月間スケジュール</li>
        <li class="menu-list">スレッド</li>
        <li class="menu-list">コラム</li>
      </div>
    </div>
  </div>
</header>