header{
  width: 100%;
  z-index: 1;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  background-color: #3889c8;
  padding: 20px 0;
}

.logo{
  height: 120px;
  padding: 0 20px;
}

.logo-img{
  height: 100%;
}

.top-menu {
  align-items: center;
  display: flex;
}

.nav-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
}

.menu-list{
  list-style: none;
  padding: 0 15px;
}

.menu-list a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
@media (max-width: 768px){
  header{
    position: fixed;
  }
}